@import "~@csstools/normalize.css";

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__nav a {
  text-decoration: none;
  color: #7b7073;
  margin-left: 30px;
  line-height: 33px;
}

.header__login,
.header__signup,
.banner__info-btn {
  background-color: #fff;
  border: none;
  cursor: pointer;
  color: #7b7073;
  outline: none;
  padding: 10px 24px;
  border-radius: 20px;
}

.header__signup,
.banner__info-btn,
.booster__btn {
  background-color: #49dada;
  color: #fff;
  font-weight: 700;
}

.header__signup:hover,
.header__signup:active,
.banner__info-btn:hover,
.banner__info-btn:active,
.booster__btn:hover,
.booster__btn:active {
  background-color: #96e5e2;
  padding: 10px 24px;
  border-radius: 20px;
  transition: 2s;
}

.header__signup {
  position: relative;
}

.signUp__form {
  position: absolute;
  max-width: 208px;
  padding: 5px;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  font-size: 18px;
  top: 106px;
  -webkit-box-shadow: -1px 6px 54px 3px rgba(75, 64, 107, 0.51);
  -moz-box-shadow: -1px 6px 54px 3px rgba(75, 64, 107, 0.51);
  box-shadow: -1px 6px 54px 3px rgba(75, 64, 107, 0.51);
}

.signUp__form span {
  color: #4b406b;
  font-weight: 700;
}

.signUp__form input {
  margin-top: 10px;
  padding: 10px;
  border-radius: 3px;
}

.signUp__form__password__inner {
  position: relative;
}

.signUp__form__password-btn {
  position: absolute;
  bottom: 4px;
  right: 5px;
  background-color: transparent;
  border: none;
  color: #232027;
  outline: none;
  cursor: pointer;
}

.signUp__form__login-btn {
  background-color: #4b406b;
  width: 193px;
  padding: 5px;
  margin-top: 10px;
  border: none;
  color: #fff;
  border-radius: 3px;
  font-weight: 700;
  cursor: pointer;
}

.signUp__form__forgot-btn {
  margin: 10px 0;
  border-radius: 3px;
  padding: 5px;
  width: 100%;
  background-color: #ecf0f1;
  color: #99aed0;
  cursor: pointer;
  outline: none;
  border: none;
}

.banner {
  margin: 75px 0 166px;
  background-image: url(../src/components/images/illustration-working.svg);
  min-height: 482px;
  background-repeat: no-repeat;
  background-position: right center;
}

.banner__info {
  max-width: 470px;
  padding-top: 80px;
}

.banner__info-title {
  color: #141316;
  font-weight: 700;
  font-size: 60px;
}

.banner__info-text {
  font-size: 22px;
  color: #bfbfbf;
  margin-bottom: 30px;
}

.banner__info-btn,
.banner__info-btn:hover,
.banner__info-btn:active,
.booster__btn,
.booster__btn:hover,
.booster__btn:active {
  padding: 20px 40px;
  border-radius: 30px;
}

.shorten-link,
.shorten-link__list {
  background-color: #f0f1f6;
}

.shorten-link__form {
  background-image: url(./components/images/bg-shorten-desktop.svg);
  min-height: 168px;
  width: 1110px;
  background-repeat: no-repeat;
  background-color: #3a3053;
  border-radius: 10px;
}

.shorten-link__form-link {
  text-align: center;
  padding-top: 60px;
}

.shorten-link__form-link input {
  width: 770px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

.shorten-link__form-link-btn {
  padding: 15px 40px;
  border-radius: 10px;
  background-color: #49dada;
  border: none;
  color: #fff;
  font-weight: 700;
  margin-left: 25px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.about {
  background-color: #f0f1f6;
  padding-bottom: 120px;
}

.about__bottom {
  position: relative;
}

.about__bottom::before {
  background-color: #06F4F4;
  content: '';
  position: absolute;
  width: 1000px;
  height: 8px;
  top: 239px;
}

.about__top {
  padding-top: 50px;
  text-align: center;
  max-width: 554px;
  margin: 0 auto;
}


.about__top-title {
  color: #33303b;
  font-size: 30px;
  font-weight: 700;
}

.about__top-text {
  font-size: 18px;
  color: #bfbfbf;
  padding: 20px 0;
}

.shorten-link__list {
  padding-left: 0;
  margin: 0;
}

.shorten-link__list-item {
  width: 1110px;
  padding: 20px;
  background-color: #fff;
  list-style: none;
  border-radius: 10px;
  margin-top: 10px;
}

.about__bottom {
  display: flex;
}

.about__box {
  width: 350px;
  height: 265px;
  background-color: #fff;
  padding: 80px 33px 0;
  margin-top: 90px;
  position: relative;
}

.about__box::before {
  content: '';
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: #383055;
  position: absolute;
  top: -43px;
  left: 30px;
}

.about__box+.about__box {
  margin-left: 26px;
}

.about__box-title {
  color: #131019;
  font-weight: 700;
  font-size: 25px;
}

.about__box-text {
  color: #9e9aa7;
  padding-top: 10px;
  line-height: 22px;
}

.about__box-1::after,
.about__box-2::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  top: -21px;
  left: 53px;
  background-repeat: no-repeat;
}

.about__box-1::after {
  background-image: url(../src/components/images/icon-brand-recognition.svg);
}

.about__box-2::after {
  background-image: url(../src/components/images/icon-detailed-records.svg);
}

.about__box-3::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  top: -21px;
  left: 50px;
  background-repeat: no-repeat;
  background-image: url(../src/components/images/icon-fully-customizable.svg);
}

.about__box-2 {
  margin-top: 133px;
}


.about__box-3 {
  margin-top: 173px;
}

.booster {
  background-color: #3B3054;

}

.booster__inner {
  background-image: url(../src/components/images/bg-boost-desktop.svg);
  min-height: 250px;
  background-repeat: no-repeat;
  text-align: center;
}

.booster__name {
  color: #fff;
  padding-top: 70px;
  font-weight: 700px;
  font-size: 40px;
}

.booster__btn {
  margin-top: 30px;
  outline: none;
  cursor: pointer;
  border: none;
}

footer {
  background-color: #232127;
}

.footer__logo svg {
  width: 121px;
  height: 33px;
  fill: #fff;
}