@import "~@csstools/normalize.css";

*,
::before,
::after {
  box-sizing: border-box;
}

body,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__nav a {
  text-decoration: none;
  color: #7b7073;
  margin-left: 30px;
  line-height: 33px;
}

.header__login,
.header__signup,
.banner__info-btn {
  background-color: #fff;
  border: none;
  cursor: pointer;
  color: #7b7073;
  outline: none;
  padding: 10px 24px;
  border-radius: 20px;
}

.header__signup,
.banner__info-btn {
  background-color: #49dada;
  color: #fff;
  font-weight: 700;
}

.header__signup:hover,
.header__signup:active,
.banner__info-btn:hover,
.banner__info-btn:active {
  background-color: #96e5e2;
  padding: 10px 24px;
  border-radius: 20px;
  transition: 2s;
}

.header__signup {
  position: relative;
}

.signUp__form {
  position: absolute;
  max-width: 208px;
  padding: 5px;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  font-size: 18px;
  top: 106px;
  -webkit-box-shadow: -1px 6px 54px 3px rgba(75, 64, 107, 0.51);
  -moz-box-shadow: -1px 6px 54px 3px rgba(75, 64, 107, 0.51);
  box-shadow: -1px 6px 54px 3px rgba(75, 64, 107, 0.51);
}

.signUp__form span {
  color: #4b406b;
  font-weight: 700;
}

.signUp__form input {
  margin-top: 10px;
  padding: 10px;
  border-radius: 3px;
}

.signUp__form__password__inner {
  position: relative;
}

.signUp__form__password-btn {
  position: absolute;
  bottom: 4px;
  right: 5px;
  background-color: transparent;
  border: none;
  color: #232027;
  outline: none;
  cursor: pointer;
}
.signUp__form__login-btn {
  background-color: #4b406b;
  width: 193px;
  padding: 5px;
  margin-top: 10px;
  border: none;
  color: #fff;
  border-radius: 3px;
  font-weight: 700;
  cursor: pointer;
}

.signUp__form__forgot-btn {
  margin: 10px 0;
  border-radius: 3px;
  padding: 5px;
  width: 100%;
  background-color: #ecf0f1;
  color: #99aed0;
  cursor: pointer;
  outline: none;
  border: none;
}
.banner {
  margin-top: 75px;
  background-image: url(./images/illustration-working.svg);
  min-height: 482px;
  background-repeat: no-repeat;
  background-position: right center;
}

.banner__info {
  max-width: 470px;
  padding-top: 80px;
}

.banner__info-title {
  color: #141316;
  font-weight: 700;
  font-size: 60px;
}

.banner__info-text {
  font-size: 22px;
  color: #bfbfbf;
  margin-bottom: 30px;
}

.banner__info-btn,
.banner__info-btn:hover,
.banner__info-btn:active {
  padding: 20px 40px;
  border-radius: 30px;
}
